@{
    ViewBag.Title = "LAAG";
}

<section class="for-full-back color-light " id="about">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1>Acerca del Laboratorio</h1>
                <h4>
                    <strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </strong>
                </h4>
            </div>

        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="for-full-back color-white" id="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1>Nuestros Servicios</h1>
                <h4>
                    <strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </strong>
                </h4>
            </div>
        </div>
        <div class="row text-center space-pad">
            <div class="col-md-3 ">
                <div class="about-div">
                    <img src="~/Images/imgBromatologic.png" class="center-block img-responsive" alt="Responsive image" align="middle" width="100" height="100" />
                    <h3>Bromatológico </h3>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="about-div">
                    <img src="~/Images/imgFoliar.png" class="center-block img-responsive" alt="Responsive image" align="middle" width="100" height="100" />
                    <h3>Foliar  </h3>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="about-div">
                    <img src="~/Images/imgGround.png" class="center-block img-responsive" alt="Responsive image" align="middle" width="100" height="100" />
                    <h3>Suelos </h3>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="about-div">
                    <img src="~/Images/imgOther.png" class="center-block img-responsive" alt="Responsive image" align="middle" width="100" height="100" />
                    <h3>Otros </h3>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="for-full-back color-white " id="contact">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h1>Contacto</h1>
                <h4>
                    <strong>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </strong>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 contact-cls">
                <h3>NUESTRA UBICACIÓN </h3>
                <div>
                    <span><i class="fa fa-home"></i>&nbsp; Dirección: San Carlos</span>
                    <br />
                    <span><i class="fa fa-phone"></i>&nbsp;Teléfono: 2401-0000</span>
                    <br />
                    <span><i class="fa fa-envelope-o"></i>&nbsp;Correo: labagronomico@dominio.com</span>
                </div>

            </div>
            <div class="col-md-7">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </p>

                <a href="mailto:jeragones1@gmail.com?subject=Feedback">Tell us</a> 

                <form>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" required="required" placeholder="Correo electrónico">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">

                            <div class="form-group">
                                <textarea name="message" id="message" required="required" class="form-control" rows="3" placeholder="Mensaje"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

