@model LAAG.Models.RecoverPassword

@{
    ViewBag.Title = "Recuperar contraseña";
}

<h2>Recuperar mi contraseña</h2>
@Html.TextBoxFor(m => m, new { @class = "form-control", placeholder = "usuario", @required = "required" })
