@model LAAG.Models.RecoverPassword

@{
    ViewBag.Title = "Recuperar contraseña";
    Layout = "~/Views/Shared/_Layout_Clean.cshtml";
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <form class="form-inline col-lg-offset-1" role="form">
        <h3 class="form-horizontal">Recuperar mi contraseña</h3><br>
        <div class="form-group">
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "nombre de usuario", @required = "required" })
            </div>
        </div>
        <input class="btn btn-primary " type="submit" value="Enviar correo" />
    </form>
}
