@model LAAG.Models.SearchModel
@{
    ViewBag.Title = "Buscar Usuarios";
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
           
<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       <div class="navbar-header">
        <p class="navbar-brand">Buscar Usuario</p>
    </div>
        <div class="col-sm-3 col-md-3 pull-left">
            
             <form class="navbar-form" role="search">
                <div class="input-group">
                    
                    @Html.TextBoxFor(m => m.Buscar, new { @class = "form-control", placeholder = "Buscar", @required = "required" })
                    <div class="input-group-btn">
                        <input type="button" class="btn btn-default" id="btnSearch" value="Buscar" />
                    </div>
                </div>
            </form>
            
        </div>        
    </div>
</nav>
            
<div id="result">

</div>
}
@section Scripts {
<script type="text/javascript">
   

    $(document).ready(function () {
        $('#btnSearch').click(function () {
            $.ajax({
                url: '/Account/Result',
                contentType: 'application/html; charset=utf-8',
                type: 'POST',
                dataType: 'html'
            })
           .success(function (result) {
               $('#result').html(result);
           })
           .error(function (xhr, status) {
               alert(status);
           })
        });
    });
</script>
}



