USE [master]
GO
/****** Object:  Database [AGRONOMICOSDB]    Script Date: 12/10/2014 8:53:53 PM ******/
CREATE DATABASE [AGRONOMICOSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AGRONOMICOSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AGRONOMICOSDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AGRONOMICOSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\AGRONOMICOSDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AGRONOMICOSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AGRONOMICOSDB]
GO
/****** Object:  Table [dbo].[Analisis]    Script Date: 12/10/2014 8:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Analisis](
	[IdAnalisis] [int] identity(1,1)NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK__Analisis__EFD67EA6AB5CA0F7] PRIMARY KEY CLUSTERED 
(
	[IdAnalisis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Analisis_Dato]    Script Date: 12/10/2014 8:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Analisis_Dato](
	[IdAnalisisDato] [int] IDENTITY(1,1) PRIMARY KEY,
	[IdAnalisis] [int] NOT NULL,
	[IdDato] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 12/10/2014 8:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dato]    Script Date: 12/10/2014 8:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dato](
	[IdDato] [int] identity(1,1)NOT NULL,
	[Nombre] [nchar](10) NOT NULL,
	[unidadMedida] [varchar](20)NOT NULL
 CONSTRAINT [PK_Dato] PRIMARY KEY CLUSTERED 
(
	[IdDato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Factura]    Script Date: 12/10/2014 8:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IdFactura] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Costo] [int] NOT NULL,
	[IdPersona] [int] NOT NULL,
 CONSTRAINT [PK__Factura__50E7BAF19CB964D0] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Muestra]    Script Date: 12/10/2014 8:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Muestra](
	[Codigo] [varchar](20) NOT NULL,
	[Campo] [varchar](40) NOT NULL,
	[IdPersona] [int] NOT NULL,
	[Provincia] [varchar](10) NOT NULL,
	[Canton] [varchar](20) NOT NULL,
	[Distrito] [varchar](25) NOT NULL,
	[Direccion] [varchar](25) NOT NULL,
 CONSTRAINT [PK__Muestra__06370DAD588A101A] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Muestra_Analisis]    Script Date: 12/10/2014 8:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Muestra_Analisis](
	[IdMuestraAnalisis] [int] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Costo] [int] NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdAnalisis] [int] NOT NULL,
	[Estado] [tinyint] NOT NULL,
 CONSTRAINT [PK__Muestra___87760CC557EB1FBB] PRIMARY KEY CLUSTERED 
(
	[IdMuestraAnalisis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 12/10/2014 8:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Persona](
	[ID_Persona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Apellido1] [varchar](25) NOT NULL,
	[Apellido2] [varchar](25) NOT NULL,
	[Correo] [varchar](40) NOT NULL,
	[Clave] [varchar](25) NOT NULL,
	[Telefono1] [varchar](8) NULL,
	[Telefono2] [varchar](8) NULL,
	[Estado] [tinyint] NOT NULL,
	[Tipo] [tinyint] NOT NULL,
	[NombreUsuario] [varchar](25) NOT NULL,
	[PasswordChange] [bit] NOT NULL,
 CONSTRAINT [PK__Persona__E9916EC112BC7DDC] PRIMARY KEY CLUSTERED 
(
	[ID_Persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 12/10/2014 8:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reporte](
	[IdReporte] [int] NOT NULL,
	[Fecha] [date] NULL,
	[Metodologia] [varchar](1) NOT NULL,
	[Observaciones] [varchar](1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
 CONSTRAINT [PK__Reporte__F95611366D7F251C] PRIMARY KEY CLUSTERED 
(
	[IdReporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Resultado_Analisis]    Script Date: 12/10/2014 8:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resultado_Analisis](
	[IdResultadoAnalisis] [int] NOT NULL,
	[IdMuestraAnalisis] [int] NOT NULL,
	[IdReporte] [int] NOT NULL,
	[Estado] [tinyint] NOT NULL,
 CONSTRAINT [PK__Resultad__B07F1E58888EAD77] PRIMARY KEY CLUSTERED 
(
	[IdResultadoAnalisis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resultado_Dato]    Script Date: 12/10/2014 8:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Resultado_Dato](
	[IdResultadoDato] [int] NOT NULL,
	[IdDato] [int] NOT NULL,
	[Resultado] [varchar](30) NOT NULL,
	[IdResultadoAnalisis] [int] NOT NULL,
 CONSTRAINT [PK__Resultad__5934520D9D4C47C0] PRIMARY KEY CLUSTERED 
(
	[IdResultadoDato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Analisis]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Analisis_Dato]  WITH CHECK ADD  CONSTRAINT [FK_Analisis_Dato_Analisis] FOREIGN KEY([IdAnalisis])
REFERENCES [dbo].[Analisis] ([IdAnalisis])
GO
ALTER TABLE [dbo].[Analisis_Dato] CHECK CONSTRAINT [FK_Analisis_Dato_Analisis]
GO
ALTER TABLE [dbo].[Analisis_Dato]  WITH CHECK ADD  CONSTRAINT [FK_Analisis_Dato_Dato] FOREIGN KEY([IdDato])
REFERENCES [dbo].[Dato] ([IdDato])
GO
ALTER TABLE [dbo].[Analisis_Dato] CHECK CONSTRAINT [FK_Analisis_Dato_Dato]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [idClienteFactura] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([ID_Persona])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [idClienteFactura]
GO
ALTER TABLE [dbo].[Muestra]  WITH CHECK ADD  CONSTRAINT [idClienteMuestra] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([ID_Persona])
GO
ALTER TABLE [dbo].[Muestra] CHECK CONSTRAINT [idClienteMuestra]
GO
ALTER TABLE [dbo].[Muestra_Analisis]  WITH CHECK ADD  CONSTRAINT [IdAnalisi] FOREIGN KEY([IdAnalisis])
REFERENCES [dbo].[Analisis] ([IdAnalisis])
GO
ALTER TABLE [dbo].[Muestra_Analisis] CHECK CONSTRAINT [IdAnalisi]
GO
ALTER TABLE [dbo].[Muestra_Analisis]  WITH CHECK ADD  CONSTRAINT [IdFactura] FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Factura] ([IdFactura])
GO
ALTER TABLE [dbo].[Muestra_Analisis] CHECK CONSTRAINT [IdFactura]
GO
ALTER TABLE [dbo].[Muestra_Analisis]  WITH CHECK ADD  CONSTRAINT [MuestraCodigo] FOREIGN KEY([Codigo])
REFERENCES [dbo].[Muestra] ([Codigo])
GO
ALTER TABLE [dbo].[Muestra_Analisis] CHECK CONSTRAINT [MuestraCodigo]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [IdCliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Persona] ([ID_Persona])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [IdCliente]
GO
ALTER TABLE [dbo].[Resultado_Analisis]  WITH CHECK ADD  CONSTRAINT [IdMuestraAnalisis] FOREIGN KEY([IdMuestraAnalisis])
REFERENCES [dbo].[Muestra_Analisis] ([IdMuestraAnalisis])
GO
ALTER TABLE [dbo].[Resultado_Analisis] CHECK CONSTRAINT [IdMuestraAnalisis]
GO
ALTER TABLE [dbo].[Resultado_Analisis]  WITH CHECK ADD  CONSTRAINT [IdReporte] FOREIGN KEY([IdReporte])
REFERENCES [dbo].[Reporte] ([IdReporte])
GO
ALTER TABLE [dbo].[Resultado_Analisis] CHECK CONSTRAINT [IdReporte]
GO
ALTER TABLE [dbo].[Resultado_Dato]  WITH CHECK ADD  CONSTRAINT [FK_Resultado_Dato_Dato] FOREIGN KEY([IdDato])
REFERENCES [dbo].[Dato] ([IdDato])
GO
ALTER TABLE [dbo].[Resultado_Dato] CHECK CONSTRAINT [FK_Resultado_Dato_Dato]
GO
ALTER TABLE [dbo].[Resultado_Dato]  WITH CHECK ADD  CONSTRAINT [idResultadoAnalisis] FOREIGN KEY([IdResultadoAnalisis])
REFERENCES [dbo].[Resultado_Analisis] ([IdResultadoAnalisis])
GO
ALTER TABLE [dbo].[Resultado_Dato] CHECK CONSTRAINT [idResultadoAnalisis]
GO
USE [master]
GO

Insert into Persona(Nombre,Apellido1,Apellido2,NombreUsuario,Correo,Clave,Tipo,Estado,PasswordChange) values('SUADMIN','SUADMIN','SUADMIN','SUADMIN','su@admin.com','12345',0,0,0)