@model LAAG.Categoria

@{
    ViewBag.Title = "Delete";
}

<h3>Realmente desea eliminar la categoría:@Model.Nombre?</h3>
<fieldset>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        @Html.ActionLink("Atrás", "Index")
    </p>
}
