@model LAAG.Categoria

@{
    ViewBag.Title = "Delete";
}

<div class="container">
    <h3>Realmente desea eliminar la categoría: @Model.Nombre?</h3>
    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
                @Html.ActionLink("Atras", "Index")
        
    </p>
}

</div>


    


