@model LAAG.Categoria

@{
    ViewBag.Title = "Details";
}

<fieldset>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id=Model.IdCategoria }) |
    @Html.ActionLink("Atrás", "Index")
</p>
