@model LAAG.Models.RegisterModel
@{ LAAG.Persona persona = (LAAG.Persona)Session["CurrentSession"];}
@{
    ViewBag.Title = "Agregar Categoría";
}


@using (Html.BeginForm()) { 
    @Html.AntiForgeryToken()
if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
{
    <div class="alert alert-danger">
        <a class="close" data-dismiss="alert">×</a>
        <h5 class="alert-heading"><strong>Error en la Inserción</strong></h5>
        @Html.ValidationSummary(true)
    </div>
}
else if (ViewData.ModelState["success"] != null)
{
    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        <h5 class="alert-heading"><strong>Éxito en la Inserción</strong></h5>
        @Html.ValidationSummary(true)
    </div>
}

 if(persona.Tipo<2){
    <div class="container">
    <div class="row">
        <h1>Agregar Categoría</h1>
    </div>
    </div>
} else{
    
 }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
